<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawan.complaintregistration">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Login"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.Help"
            android:label="@string/title_activity_help" />
        <activity
            android:name=".activities.AdminLogin"
            android:label="@string/title_activity_admin_login" />
        <activity
            android:name=".activities.AdDetails"
            android:label="@string/title_activity_ad_details" />
        <activity
            android:name=".activities.AddDetails"
            android:label="@string/title_activity_ad_details" />
        <activity android:name=".activities.ShowData" />
        <activity
            android:name=".activities.UpdateComplaints"
            android:label="@string/title_activity_update_complaints" />
    </application>

</manifest>